@page
@using CalculatorStudent.Operations;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style=" margin-top: 20px">
    <div class="card-header">
        <h1>Awesome Calculator</h1>
        <p class="card-text">Does basic Caluclations</p>
    </div>
    <div class="card-body">

        <form method="post">
            <div class="form-group">
                <div class="row">
                    <label asp-for="calculator.Number1" class="col-lg-4"></label>
                    <input type="text" asp-for="calculator.Number1" class="col-lg-2" />
                </div>
                <div class="row">
                    <label asp-for="calculator.Number2" class="col-lg-4"></label>
                    <input type="text" asp-for="calculator.Number2" class="col-lg-2" />
                </div>
                <div class="row">
                    <label asp-for="calculator.OperationType" class="col-lg-4"></label>
                    <select asp-for="calculator.OperationType" class="col-lg-2" asp-items="Html.GetEnumSelectList<EnumOperationType>()">
                    </select>
                </div>
                <div class="row">
                    <input type="submit" value="Submit" asp-action="Index" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="row">
            <label asp-for="calculator.Result" class="col-lg-4"></label>
            <input type="number" disabled="disabled" asp-for="calculator.Result" class="col-lg-2" />
            <textarea asp-for="calculator.ErrorMessage"></textarea>
        </div>
    </div>
</div>
